
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: #264057;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}


.header {
  background-color: #5f98cd;
  width: 360px;
  height: 50px;
}

.body{
  width: auto;
  height: auto;
  background-color: white;
  /* overflow: auto; */
}

.body{
  padding-top: 20px;
  padding-bottom: 20px;
}


.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-around{
  justify-content: space-around;
}

.search-box {
  background-color: white;
  /* padding-left: 3px;
  padding-right: 3px; */
  position: absolute;
  left: 20px;
  width: 80%;
  border-radius: 15px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.search-box input {
  border: solid 0px transparent;
  outline: none;
  width: 92%;
}

.header .card-title {
  font-size: 16px;
}

.text-white {
  color: white;
}

.align-items-center{
  align-items: center;
}

.notification .date-time {
  font-size: 11px;
  line-height: 11px;
}

.notification {
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
  animation-fill-mode: both;
}


.notification:nth-child(1){
  animation: here-am-i 0.5s ease-out 0.4s;
}

.notification:nth-child(2){
  animation: here-am-i 0.5s ease-out 0.6s;
}

.notification:nth-child(3){
  animation: here-am-i 0.5s ease-out 0.8s;
}




.notification ~ .notification{
  margin-top: 20px;
}

.mt-1{
  margin-top: 10px;
}

.pt-1{
  padding-top: 10px;
}

.pt-2{
  padding-top: 20px;
}

.pb-2{
  padding-bottom: 20px;
}


.notification .circle {
  border-radius: 50%;
  border: solid 1px #5f98cd;
  width: 11px;
  height: 11px;
  position:  absolute;
  left: 30px;
  top: 0px;
  background-color: white;
  box-shadow: 0 0 0 2px white;
}

.relative{
  position: relative;
}

.display-block{
  display: block;
}

.body .line{
  position: absolute;
  height: 100%;
  background-color: #ebebeb;
  width: 3px;
  top: 0px;
  left: 34px;
}

.notification:hover {
  color: #5f98cd;
}

.card{
  transition: all 1s ease-in-out;
}


.card-btn-menu{
  width: 22px;
  height: 10px;
  position: absolute;
  left: 25px;
}

.card-btn-menu:hover .line, .card-btn-menu:hover .dot{
  background-color: white;
}

.card-btn-menu .line {
  background-color: #B2DAFF;
  width: 22px;
  height: 2px;
  border-radius: 5px;
  
}


.justify-items-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.card-btn-menu .dot{
  width: 6px;
  height: 6px;
  background-color: #B2DAFF;
  position: absolute;
  right: 0px;
  border-radius: 50%;
  top: -2px;
  box-shadow: 0 0 0 2px #5f98cd;
}


.card-btn-search {
  position: absolute;
  right: 23px;
  width: 14px;
  height: 22px;
  transform: rotate(-45deg);
}

.card-btn-search .circle {
  background-color: #5f98cd;
  border-radius: 50%;
  border: 1px solid #B2DAFF;
  width: 14px;
  height: 14px;
  position: absolute;
}

.card-btn-search .line {
  width: 2px;
  height: 22px;
  background-color: #B2DAFF;
  /* transform: rotate(-45deg); */
  position: absolute;
  left: 6px;
  border-radius: 5px;
}


.card-btn-search:hover .line{
  background-color: white;
}

.card-btn-search:hover .circle{
  border-color: white;
}


.display-none {
  display: none;
}

.search-box-display-none{
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;  
}


.offcanvas-menu{
  background-color: #43627d;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 2px;
  transition: all 1s ease-in-out;
}

.offcanvas-menu a {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #93B2CD;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px ;
}

.offcanvas-menu a span {
  padding-right: 7px ;
}

.offcanvas-menu a:hover{
  color: white;
  background-color: #385269;;
}


.offcanvas-menu nav{
  width: 100%;
  height: 100%;
}


.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50% 0);
}


@keyframes  here-am-i {

  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
}

.move-left {
  transform: translate3d(-90%-50%,0);
}

.move-right{
  transform: translate3d(0,-50%,0);
}


.show-search-box{
  display: block;
}
